# sbt
.history
project/boot
boot/
lib_managed/
target/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/
.worksheet/
*.sc

# IntelliJ
.idea/
out/
*.iml
*.ipr
*.iws

# ENSIME
.ensime
.ensime_lucene/

# Mac
.DS_Store

# node
# node_modules/

# Angular App extras
.idea
# node_modules
jspm_packages
npm-debug.log
debug.log
src/**/*.js
!src/systemjs.config.extras.js
!src/systemjs.config.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
