<div id="game-admin">
  <div id="games-table-container">
    <table class="table">
      <thead>
      <tr>
        <th><input type="checkbox" title="Toggle select all"></th>
        <th>Away</th>
        <th>Line</th>
        <th>Home</th>
        <th>Game time (CT)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games">
        <td><input type="checkbox"></td>
        <td>{{game.awayTeam.abbreviation}}</td>
        <td>{{game.line}}</td>
        <td>{{game.homeTeam.abbreviation}}</td>
        <td>{{game.gameTime}}</td>
      </tr>
      </tbody>
    </table>
    <div id="action-buttons">
      <button id="btn-add-game" class="btn-primary" (click)="openAddGameModal()">Add Game</button>
    </div>
  </div>
</div>

<add-game-modal #addGameModal></add-game-modal>
