<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" [cssClass]="cssClass">
  <form #modalForm="ngForm" class="form-horizontal">
    <modal-header [show-close]="true">
      <h4 class="modal-tile">Sign Up</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">
        <label for="firstName" class="control-label col-sm-3">First Name:</label>
        <div class="col-sm-9">
          <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="player.firstName">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="control-label col-sm-3">Last Name:</label>
        <div class="col-sm-9">
          <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="player.lastName">
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="email" class="control-label col-sm-3">Username:</label>
        <div class="col-sm-9">
          <input type="text" id="email" name="email" class="form-control" placeholder="email address" [(ngModel)]="player.email">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label col-sm-3">Password:</label>
        <div class="input-group col-sm-9">
          <input type="password" id="password" name="password" show-hide-input class="form-control" [(ngModel)]="player.password">
          <span class="show-hide-icon input-group-addon" (click)="toggleMask();"><i show-hide-icon class="glyphicon glyphicon-eye-open" id="password-icon"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="defaultPick" class="control-label col-sm-3">Default Pick:</label>
        <div class="col-sm-9">
          <select class="form-control" id="defaultPick" name="defaultPick" [(ngModel)]="player.defaultPick">
            <option value="">Select a default</option>
            <option value="HOME_TEAM">Home Team</option>
            <option value="AWAY_TEAM">Away Team</option>
            <option value="FAVORITE_TEAM">Favorites</option>
            <option value="UNDERDOG_TEAM">Underdogs</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="leaguePass" class="control-label col-sm-3">League Password:</label>
        <div class="col-sm-9">
          <input type="password" id="leaguePass" name="leaguePass" class="form-control" [(ngModel)]="player.leaguePass">
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="signup()">Signup</button>
    </modal-footer>
  </form>
</modal>
