#unmask-icon {
    position: absolute;
    z-index: 1000;
    top: 30%;
    right: 5%;
    color: #999999;
    text-decoration: none;
}

.input-group[class*=col-] {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}

.show-hide-icon {
    cursor: pointer;
}
